body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Onest', sans-serif;
}

header {
    background-color: #292321; 
    color: #fff;
    padding: 10px 0; 
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
}

.logo img {
    width: 100px;
}

.logo img:hover {
    transform: scaleX(-1);
    transition: transform 0.3s ease;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none; 
    color: #fff;
    font-weight: bold;
    transition: color 0.3s; 
}

.nav-links a:hover {
    color: #ff6347; 
}

.hero {
    text-align: center;
    padding: 0;
    position: relative;
    margin-top: 0;
    overflow: hidden;
    margin-bottom: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.514);
    padding-bottom: 0;
    position: relative;
    height: 60vh; /* Ajuste a altura do hero */
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.hero img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

.hero h1 {
    font-size: 5rem;
    color: #ffffff;
    position: absolute;
    top: 150px; /* Ajuste a posição vertical conforme necessário */
    left: 50%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.644); 
    transform: translateX(-50%);
}

.menu-section {
    padding: 20px;
    text-align: center;
    background-color: #f5f2ed;
}

.menu-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.menu-section h1 {
    font-size: 32px;
    margin-bottom: 30px; /* Aumente a margem inferior conforme necessário */
    margin-top: 10px;
}

.menu-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-card {
    width: calc(33.33% - 20px);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.61);
    margin-bottom: 10px;
    border-radius: 20%;
    transition: transform 0.3s ease;
}

.menu-card:hover {
    transform: scale(1.1);
}

.menu-card img {
    max-width: 70%; 
    height: auto;
    border-radius: 20%;
}

.menu-card h3 {
    font-size: 18px;
    margin-top: 10px;
}

.menu-card p {
    font-size: 14px;
    margin-top: 5px;
}

.menu-card span {
    display: block;
    font-size: 16px;
    margin-top: 10px;
}

.contact-section {
    padding: 20px;
    text-align: center;
    background-color: #f5f2ed;
}

.contact-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.contact-section h1 {
    font-size: 32px;
    margin-bottom: 30px; /* Aumente a margem inferior conforme necessário */
    margin-top: 10px;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea,
.contact-section button {
    width: 70%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-section button {
    background-color: #ff4500;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-section button:hover {
    background-color: #d23200;
}

.form-card {
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border-radius: 20%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.671);
    transition: transform 0.3s ease;
    margin: 0 auto;
}

.form-card:hover {
    transform: scale(1.05);
}

footer {
    background-color: #57504d; 
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 120px;
    padding-right: 15px;
}

.footer-logo img:hover {
    transform: scaleX(-1);
    transition: transform 0.3s ease;
}


.footer-text {
    text-align: left;
    padding: 10px;
}

.footer-fonts {
    margin-top: 10px;
    font-size: 14px;
    padding: 15px;
}

@media screen and (max-width: 768px) {

    .hero, .menu-section, .contact-section {
        max-width: 100%;
    }

    h1, h2, h3, p, ul, li {
        font-size: 12px; 
    }

    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero h1 {
        font-size: 30px;
    }

    .menu-cards {
        display: flex;
        flex-direction: column; /* Exibir os cards verticalmente, um abaixo do outro */
    }
    
    .menu-card {
        width: 100%; /* Defina a largura total para ocupar a largura do contêiner pai */
        margin-bottom: 20px; /* Espaçamento inferior entre os cards */
    }
    
}
